@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
    html {
        font-family: Inter, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        overflow: hidden;
        color: #ffffff;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        display: none;
    }

    .scrollbar:hover::-webkit-scrollbar {
        display: block;
        width: 4px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #888888;
    }

    .overflow-y-overlay {
        overflow-y: overlay;
    }

    .overflow-ellipsis-2-line {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-shadow-1 {
        text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px -1px 0 #4a90e2, 1px -1px 0 #4a90e2;
    }

    .text-shadow-2 {
        text-shadow: 1px 1px 0 #27bd9c, -1px 1px 0 #27bd9c, -1px -1px 0 #27bd9c, 1px -1px 0 #27bd9c;
    }

    .text-shadow-3 {
        text-shadow: 1px 1px 0 #e35050, -1px 1px 0 #e35050, -1px -1px 0 #e35050, 1px -1px 0 #e35050;
    }

    .text-shadow-4 {
        text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff;
    }

    input[type='range'] {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 6px;
        background-color: #ca4974;
        border-radius: 8px;
        outline: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 6px;
    }

    input[type='range']::-moz-track {
        -moz-appearance: none;
        height: 6px;
    }

    input[type='range']::-ms-track {
        appearance: none;
        height: 6px;
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -4px;
        border: none;
    }

    input[type='range']::-moz-range-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -4px;
        border: none;
    }

    input[type='range']::-ms-thumb {
        appearance: none;
        height: 15px;
        width: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -4px;
        border: none;
    }
}
